aside {
  width: 16%;
  min-width: 210px;
  max-width: 300px;
  min-height: 100vh;
  background-color: $dark-gray;
  position: relative;
  z-index: 10;
  .aside-container{
    left: 0;
    top: 0;
    display: block;
    width: 16%;
    min-width: 210px;
    max-width: 300px;
    position: fixed;
    background-color: $dark-gray;
    @include cf;
    .logo {
      width: 100%;
      min-width: 210px;
      height: 70px;
      background-color: $dark;
      position: relative;
      .brand {
        width: 100%;
        height: 100%;
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-image: url("https://d1uuj3mi6rzwpm.cloudfront.net/assets/clients/private-logo-a585364e03bc52b7ac4fb39b8b3e64f12ac500e9e177f80497034488e8c227a9.svg")
      }
    }
    .sidebar-wrap {
      padding-top: 19px;
      min-height: calc(100vh - 140px);
    }
    .sign-out-block {
      display: block;
      height: 69px;
      width: 100%;
      @include cf;
      a {
        padding-top: 25px;
        display: block;
        height: 100%;
        border-top: 1px solid #4f4f4f;
        font-size: 16px;
        text-align: center;
        color: $white;
        text-decoration: none;
        background-color: $dark-gray;
        transition: all 300ms ease-in-out;
        &:hover {
          background-color: $cyan;
        }
        span {
          display: inline-block;
          margin-right: 16px;
          width: 15px;
          height: 12px;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("https://d1uuj3mi6rzwpm.cloudfront.net/assets/clients/sidebar-icons/logout-b025eacda7c0c0705e5ae2e41b47350f4732afa205d3b6c66831ca5756a70acc.svg");
        }
      }
    }
    .sidebar-list {
      @include reset-list;
      li a {
        display: block;
        padding: 17px 10px 17px 55px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: white;
        position: relative;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        text-transform: capitalize;
        &:after {
          width: 14px;
          height: 14px;
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 25px;
          background-color: transparent;
          background-position: center center;
          background-repeat: no-repeat;
        }
        &.customers-side-link:after{
          background-image: url("https://d1uuj3mi6rzwpm.cloudfront.net/assets/clients/sidebar-icons/dashboard-83320a19492ef65a0fbf5fda7b915cb12cdd9c453e93593465751067f31333ab.svg")
        }
        &.connections-side-link:after {
          background-image: url("https://d1uuj3mi6rzwpm.cloudfront.net/assets/clients/sidebar-icons/connections-2fde559f4c9b412970d0fdb79e39b5eea1bd6a0712e7458da2eaf8d81795f908.svg");
        }
        &.accounts-side-link:after {
          background-image: url("https://d1uuj3mi6rzwpm.cloudfront.net/assets/clients/sidebar-icons/account-36c2358c77ec120f6d0f36bcb10508f6de8b1896a6ac4819fa7be003e4115424.svg");
        }
        &:hover, &.active {
          background-color: $cyan;
        }
      }
    }
  }
}
