@import "mixins";
@import "_settings";
@import "main";
@import "font-awesome";
@import "components/*";

#app {
  display: flex;
  @include cf;
}

.container {
  width: 84%;
  display: inline-block;
  background-color: $light;
  position: relative;
  &.signed-out {
    width: 100%;
  }
}

.heading-wrap {
  h3 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: $cyan;
  }
}

.main-content {
  padding: 50px 0 60px;
  width: 850px;
  margin: 0 auto 59px;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  a {
    color: $cyan;
    &:hover {
      text-decoration: underline;
    }
  }
  &.large {
    width: 92%;
  }
}

.action-buttons {
  width: 100%;
  padding: 0 30px;
  padding-top: 40px;
  text-align: right;
  @include cf;
  margin-left: auto;
  margin-right: auto;
  .btn:last-child {
    margin-left: 20px;
  }
}

.table {
  display: table;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  .th-row {
    margin: 0 auto;
    position: relative;
    display: table-row;
    width: 100%;
    &.hidden .th {
      padding-bottom: 11px;
      color: $black;
      font-size: 14px;
      font-weight: 700;
      border: 0;
      padding-right: 10px;
      vertical-align: middle;
    }
    .th, .td {
      display: table-cell;
      width: 9%;
      &:first-child {
        padding-left: 11px;
      }
      &:last-child {
        padding-right: 11px;
      }
      &.compact {
        width: 10%;
      }
      &.identificator {
        width: 40px;
      }
      &.date {
        width: 30%;
      }
      &.slim {
        width: 30px;
      }
    }
    .td {
      padding: 15px 10px 10px 0;
      border-bottom: 1px solid $light;
      font-size: 15px;
      font-weight: 400;
      color: #9d9d9d;
    }
  }
  &.large {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.loader {
  position: fixed;
  @include stretch;
  // left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 999;
  padding-bottom: 200px;
  background-color: rgba($white, .2);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.flash {
  text-align: center;
  padding: 7px 0;
  font-weight: 400;
  font-size: 15px;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.notice {
    background-color: $cyan;
  }
  &.error {
    background-color: rgba(#CD0214, .7);
  }
  &.none {
    display: none;
  }
}

.bad-request {
  padding: 70px 20px;
  text-align: center;
  font-size: 18px;
}
